.confessionals {
    background-color: #f7f8fd;
  }
  
  .confessionalText > p {
    padding-right: 80px;
    font-size: 22px;
    line-height: 40px;
    padding-left: 40px;
  }
  
  .confessionalText > img {
    margin-top: 70px;
    margin-bottom: 70px;
    width: 80%;
    height: auto;
  }
  
  .name {
    padding-left: 40px;
    font-size: 18px;
    font-style: bold;
    font-family: "DMSans-bold";
  }
  
  .title {
    padding-left: 40px;
    font-size: 12px;
    padding-bottom: 60px;
  }