.popularBlog {
  padding-bottom: 100px;
}

.daysIcon {
  padding-left: 30px;
}

.textContent {
  font-size: 35px;
}

.blogHeader {
  font-size: 45px;
}

.supportSlider {
  line-height: 33px;
  font-size: 26px;
  font-family: "DMSans-Medium";
  font-stretch: expanded;
}

.blogSmallWrap {
  padding-top: 12px;
  padding-left: 16px;
}

.developmentText {
  font-weight: 800;
  color: #423ef3;
  font-size: 16px;
}

.blogImageLarge {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 10px;
}

.blogImageSmall {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 16px;
  margin-left: 20px;
}
