.homeServices {
  background-color: #f7f8fd;
  width: 100%;
}

.serviceCard {
  min-height: 230px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 50px;
}

.serviceCard p {
  font-weight: 700;
}

.lastCard {
  background-color: #82cefd;
  margin-bottom: 120px;
}
