.social-icons {
    padding-top: 140px;
    padding-bottom: 80px;
  }
  
  .home-services {
    background-color: #f7f8fd;
    width: 100%;
  }
  
  .service-card {
    min-height: 230px;
    background: #ffffff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 20px;
  }
  
  .service-card p {
    font-weight: 500;
  }
  
  .lastCard {
    background-color: #82cefd;
    margin-bottom: 120px;
  }
  