
.cardSection > div > div {
  min-height: 250px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 15px;
}

.cardSection p {
  font-weight: 700;
}

.lastCard > div {
  background-color: #82cefd !important;
  margin-bottom: 120px;
}
