.servicesButton {
  background-color: white;
  color: black;
  box-shadow: 0px 2px 55px rgba(209, 214, 226, 0.32);
  border-radius: 10px;
  border-bottom: 3px solid #6563e8;
}

.h1 {
  font-size: 75px;
  max-width: 625px;
}

.tabsArea {
  background: rgba(249, 250, 251, 1);
  padding: 7px 20px;
  display: flex;
  margin-bottom: 100px;
}

.tabButton {
  height: 76px;
  background: white;
  padding: 0 42px;
  margin-right: 10px;
  border: none;
}

.tabButtonOpaque {
  background: none;
  border: none;
}

.companyIcon {
  margin-bottom: 50px;
}

.reviewerIcon {
  margin-top: 50px;
}

.perkButton {
  background: #ffdc60;
  border-radius: 10px;
  padding: 15px 55px;
  border-width: 0;
}


.testimonial {
  padding: 60px;
  background: #ffffff;
  border: 1px solid #f0f1f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin-bottom: 40px;

}



.bottomPage {
  width: 100%;
  background-image: url('/img/newsletter-bg.svg');
}

.bottomText {
  color: white;
  font-weight: 700;
}


