.servicesButton {
    background-color: white;
    color: black;
    box-shadow: 0px 2px 55px rgba(209, 214, 226, 0.32);
    border-radius: 10px;
    border-bottom: 3px solid #6563e8;
  }


  .h1 {
    font-size: 75px;
    max-width: 625px;
  }