.footer {
    background-image: url("../public/img/footerbg.svg");
    padding-top: 110px;
    color: #fff;
  }
  
  .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .separator {
    height: 1px;
    background: rgba(62, 62, 69, 1);
  }
  
  .footer-icons img:not(:last-child) {
    margin-right: 15px;
  }
  
  .footer-icons {
    padding-bottom: 40px;
  }
  
  .learning-list li:not(:last-child) {
    margin-bottom: 15px;
  }
  
  .learning-list {
    padding-left: 80px;
  }
  
  .footer-list li {
    padding-left: 40px;
  }
  